body {
    margin: 0;
    font-family: sans-serif;
    background-color: #999;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr)); /*autofit adapta autofill rellena*/
    grid-template-rows: repeat(3,200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    font-size: 30px;
    color: #fff;
}

@media screen and (max-width:500px){
    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px,1fr));
    }
}/*sin este media tambien seria responsive cambia dependiendo del gusto y de lo que se quiera mostrar*/