body {
    background-color: #333;
    color: #ddd;
    font-family: sans-serif;
}

details {
    background: transparent;
    border: 1px solid #ddd;
    border-bottom: none;
    font-size: 0.7em;
    color: #aaa;
}

details[open] {  /*el [open] tiene q estar bien pegadito del details*/
    border: 1px solid #ddd;
    background-color: #444;
    font-weight: bold;
}

summary {
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding: 9px;
    font-size: 1em;
    color: #eee;
}

ul {
    font-weight: 100;
}

p {
    font-weight: 100;
}