div {
    padding: 20px;
}

h1::first-letter {
    color: red;
    font-size: 3em;
    letter-spacing: -8px;
}

div::first-line {
    color: red;
    font-weight: bold;
}

div::selection {
    background-color: red;
    color: #fff;
}

input::placeholder {
    color: green;
    background-color: black;
    padding: 20px;
}

li::marker {
    color: red;
}

li::before {
    content: 'Antes: ';
    color: red;
}

li::after {
    content: ' Despues';
    color: blue;
}