body {
    margin: 0;
}

div {
    padding: 20px;
    background-color: #999;
}
/*en este caso se transforma a elemento en blocke*/
/*a {
    background-color: red;
    color: #fff;
    display: block;
    border: 1px solid #000;
    margin: 20px;
    padding: 20px;
    opacity: 0.6;
}*/

/*en este caso se transforma a elemento en linea*/
p {
    background-color: #000;
    color: #fff;
    display: inline;
    margin: 5px;
    padding: 20px;
    height: 100px;
    width: 500;
}
/*muchos atributos no tienen mucho sentido o simplemente no funcionan correctamente con display en linea, como:  margin, padding, height, width*/

.nav {
    background-color: #48e;
    font-family: sans-serif;
}

.nav__list {
    margin: 0;
    text-align: center;
}

.nav__item {
    display: inline-block;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    background-color: #48e;
}

.nav__link:hover {
    background-color: #59e;
}

.link--button {
    border: 1px solid #fff;
    background-color: #fff;
    padding: 4px 18px;
    color: #48e;
    border-radius: 3px;
    margin-left: 60px;
    /*display: none; este atributo sirve para no mostrar el elemento, y no tenerlo en cuenta para nada*/
}

.link--button:hover {
    background: transparent;
    color: #fff;
}