body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
}

.overlay {
    background: linear-gradient(to top, #fff, transparent);
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.contenedor {
    padding: 150px;
    background-color: #00f;
    position: relative; /*a fixed no le importa relative*/
}

h2 {
    font-size: 18px;
    margin: 0;
}

p {
    font-size: 14px;
    margin: 0;
}

.box {
    height: 60px;
    width: 200px;
    background-color: #f00;
    position: fixed;
    right: 0;
    background-color: #fff;
    border: 1px solid #000;
    border-right: 0;
    box-shadow: 0px 0px 40px #0009;
    z-index: 30;
}

.box-fixed {
    height: 60px;
    width: 200px;
    background-color: #f00;
    position: sticky;
    top: 100px;
    z-index: 40;
    box-sizing: border-box;
    color: #fff;
}

.first {
    top: 30px;
}

.last {
    top: 170px;
}

.last2 {
    top: 240px;
}