body {
    background-color: #fff;
    font-family: sans-serif;
    color: white;
}

.card {
    background: rgb(116, 83, 45);
    text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0px 0px 25px #0007;
    border-radius: 8px;
}

.blue-card {
    background: #477;
}

.black-card {
    background: #1c1c1c;
}

.card_title {
    font-size: 22px;
    margin: 0;
}

.card_subtitle {
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
}

.card_content {
    font-size: 9px;
    padding: 10px 20px;
    padding-bottom: 0;
    text-align: justify;
}

.card_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}