body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 20px;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}

.form_input {
    padding: 6px 20px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
}

textarea {
    min-width: 100%;
    resize: none; /*esto sirve para configurar el text area decirle hacia donde puede expandir o si puede expandir*/
    min-height: 102px; /*el rows aun asi dice cuantas columnas en el html*/
    font-family: sans-serif;
}