body {
    margin: 0;
    font-family: sans-serif; 
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); /*autofit adapta autofill rellena*/
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #48e;
    font-size: 30px;
    max-width: 100%;
    border-radius: 16px;
}

.grid-item:hover {
    opacity: 0.7;
}