/*SE USA ASI TAL CUAL PARA ESPECIFICAR EL ELEMENTO RAIZ*/
/*:root {
    color: #999;
}*/

h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}
/*CUANDO PASAMOS EN MOUSE POR ENCIMA*/
h1:hover {
    color: #000;
    background-color: #ccc;
}
/*cuando damos click*/
h1:active {
    background-color: #999;
    color: #fff;
}
ul{
    background-color: #999;
    padding: 0;
}
/*SELECCIONANDO EL PRIMER LI*/
li:first-child {
    color: red;
}
/*SELECCIONANDO OTROS LI*/
li:nth-child(2) {
    color: #0f0;
    /*este si tiene en cuenta a los hijos pero no los toma si no son del mismo tipo*/
}
li:nth-of-type(2) {
    color: brown; 
    /*sirve para seleccionar elementos del mismo tipo y no tiene en cuenta otros elementos(hijos)*/
}
/*FORMAS DE USAR EL EL li:nth-child*/
li:nth-child(2n){
    color: orange;
    background-color: #ccc;
}
/*SELECCIONANDO ULTIMO LI*/
li:last-child {
    color: blue;
}
/*SELECCIONANDO LOS LI DENTRO DE ".LISTA" QUE NO TENGAN LAS CLASE "EXCLUIR" */
.lista li:not(.excluir) {
    color: #fff;
}
div {
    border: 2px solid black;
}
/*SELECCIONANDO EL DIV EN CASO DE QUE ESTE VACIO*/
div:empty {
    background-color: #0f0;
    padding: 30px;
    border: none;
}

input[type="checkbox"]:checked {
    margin: 50px;
}

/*ENLACE NO VISITADO*/
a:link {
    color: red;
}
/**ENLACES VISITADOS*/
a:visited {
    color: green;
}
/*INPUT INVALIDO*/
input[type="email"]:invalid {
    color: red;
}
/*INPUT VALIDO*/
input[type="email"]:valid {
    color: green;
}