body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background-color: #222;
}

form {
    background-color: transparent;
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
}

input, textarea, select {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #0003;
    background-color: transparent;
    border-radius: 4px;
    color: #ddd;
    margin: 6px 0;
}

fieldset {
    margin: 20px 0;
    border: 2px solid #666;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}