body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box {
    width: 150px;
    background-color: #f00;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #000;
    /*outline-width: 5px;
    outline-color: #00f;
    outline-style: solid;*/
    outline-offset: 10px;/*esta propiedad no entra al shorthand*/
    outline: 5px solid #00f;/*este es el shorthand*/
}/*el outline tiene las mismas propiedades que el border con la diferencia que no ocupa espacio, solo es visual*/

.form__list {
    margin: 50px;
}

input {
    margin: auto;
    border: none;
    border-top: 3px solid #000;
    outline: 3px solid blue;
    outline-offset: 5px;
    padding: 6px;
    transition: outline .2s, outline-offset .2s;
}

input:focus {
    border-color: blue;
    color: blue;
}

input:focus-visible {
    outline: none;
}/*se usan ambas pseudoclases cuando se va a usar outline: none; para evitar problemas de accesibilidad*/