td, th{
    border: 1px solid #000;
    padding: 6px;
    padding-bottom: 6px;
    font-family: sans-serif;
    border: none;
    border-bottom: 1px solid #0004;
}

td {
    color: #444;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 12px;
    /*border: 2px solid #000;*/
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 9px 15px #0002;
    margin-top: 30px;
}

.dato_total , .header_total {
    border: none;
    padding: 12px;
    font-size: 1.2em;
}