.lista {
    border: 2px solid #000;
}

.lista--vieja {
    opacity: 0.3;
    background-color: #ddd;
}

.lista__item {
    color: grey;
    margin: 10px 0;
    list-style: square;
}

.item--danino {
    color: red;
}

.item--importante {
    color: blue;
}