* {
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
    font-size: 14px;
    background-color: #333;
    color: #ddd;
    width: 100%;
}