body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
}

.flex-item {
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    width: 100px;
    order: 2;
}

.flex-item:first-child {
    background-color: #d34;
    order: 1;
}

.flex-item:last-child {
    background-color: #000;
    order: 3;
}
/*propiedad order solo para item (hijos)*/