body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap; tambien esta nowrap q fuerza a que esten en una sola linea, esto esta especificado en un txt  (row-reverse, column y column-reverse)*/
    flex-flow: row wrap; /*es el shorthand de direction y wrap ^^^^ aunque sigue siendo valido preferir no usar el shorthand*/
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    justify-content: space-evenly; /*esto no cambia el orden de los elementos solo la alineación al igual q las otras propiedades*/
    align-items: center; /*stretch= por defecto, start, end, center, baseline, pdt= aling-item se usa cuando hay una sola linea, para mas de una es mejor usar align-content*/
    align-content: space-evenly;
    background-color: #fff;
}
/*start, end, center, space-between, space-around, space-evenly*/
/*la propiedad flex esta definido por defecto para que ocupe todo el campo disponible de cross axis*/

.flex-item {
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    direction: rtl;
    width: 100px;
}
/*margin: auto; en el caso de que querer centrar un elemento puede sustituir un poco mas facil a align-items:center y align-content:center*/
/*padding: 60px; propiedades como padding rompen la propiedad en los flex items*/
/*la propiedad direction: ltr o rtl (left to right o right to left cambia la dirección en la que se lee el texto)pdt=esta propiedad se puede usar en la caja flexbox padre tanto como en el item flex hijo*/

.flex-item:first-child {
    background-color: #d34;
}

.flex-item:last-child {
    background-color: #000;
}