body {
    margin: 0;
    font-family: sans-serif; 
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr)); /*autofit adapta autofill rellena*/
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #48e;
    font-size: 30px;
    max-width: 100%;
    border-radius: 16px;
}

.grid-item:first-child {
    grid-column: 2/span 2;
    grid-row: 2/span 2;/*   lo que esta abajo es lo mismo pero abreviado    */
    /*grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: span 2;
    grid-row-end: span 2;*/
    background-image: url(../../../dandandan.jpg);/*    con las imagenes para que tenga el comportamiento esperado es mejor hacer un div en el html y hacer esto*/
    background-size: cover;
    background-position: center;
}

.grid-item:hover {
    opacity: 0.7;
}