body{
    margin: 0;
    font-family: sans-serif;
}

div, body {
    box-sizing: border-box;    
}

.flexbox {
    display: flex;
    /*
    flex-wrap: wrap;
    */
}

.flex-item {
    background-color: #ccc;
    padding: 30px;
    border: 1px solid #f00;
    /*
    flex-grow: 1;
    flex-basis: 0;
    min-width: 300px;
    */
}

@media screen and (max-width: 480px) {
    .flexbox {
        flex-direction: column;
    }
}