body {
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;
    text-align: center;
}

.contenedor {
    border: 2px solid #000;
    margin: 30px 50px;
    background-color: #fff;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #fb7;
    color: #fff;
}

.box--blue {
    background-color: #48e;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.box--red {
    background-color: #f64;
}