.box {
    width: 280px;
    background: #e2e2e2;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 40px 0 black;
    padding: 20px;
    padding-top: 18px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #444;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    font-size: 20px;
    margin-top: 5px;
    color: #999;
    letter-spacing: 3px;
    font-weight: 100;
    text-shadow: 0 0 5px #f92;
}

p{
    list-style: none;
    text-align: justify;
    line-height: 1,4;
    font-size: 14px;
    text-shadow: 0 0 5px #f92;
}

.img-principal {
    width: 200px;
    border-radius: 100%;
    box-shadow: 0 0 40px 0 black;
}

.img-prueba {
    width: 240px;
    filter: drop-shadow(0px 0px 10px #f92);
}