body {
    margin: 0;
    font-family: sans-serif;
    background-color: #999;
}

body, div {
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    grid-auto-columns: 100px;/*no molesta pero es inutil porq esta por defecto en row ^^*/
    gap: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    font-size: 30px;
    color: #fff;
}

@media screen and (max-width:400px){
    .grid {
        grid-template-columns: 1fr;
    }
}