div {
    background: #ededed;
    padding: 20px; 
    /*la medida cm; centimetro se usa para cosas puntuales que requieran una medida exacta como imprimir, la medida mm; milimetro o in; pulgadas tambien se usan para cosas puntuales ejemplo las medidas de un banner para imprimir*/
    font-family: sans-serif;
    border-left: 5px solid #999;
}

h1 {
    margin: 0;
    font-size: 24px;
}

span {
    color: #999;
    font-size: 16px;
    font-weight: 100;
}

p {
    color: #555;
}